In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1780,tt0452623,19000000,34619699,Gone Baby Gone,Casey Affleck|Michelle Monaghan|Morgan Freeman...,Ben Affleck,Everyone wants the truth... until they find it.,When 4 year old Amanda McCready disappears fro...,113,Crime|Drama|Mystery,Miramax Films|The Ladd Company,10/19/2007,7.0,2007
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014
479,tt0455407,20000000,54956140,The Crazies,Timothy Olyphant|Radha Mitchell|Joe Anderson|D...,Breck Eisner,Fear Thy Neighbor,Four friends find themselves trapped in their ...,101,Mystery|Horror|Action,Penn Station Entertainment|Participant Media|I...,2/26/2010,6.1,2010
1115,tt0285823,29000000,98185582,Once Upon a Time in Mexico,Antonio Banderas|Salma Hayek|Johnny Depp|Eva M...,Robert Rodriguez,The Time Has Come.,"Hitman ""El Mariachi"" becomes involved in inter...",102,Action,Columbia Pictures Corporation|Dimension Films|...,9/11/2003,6.1,2003

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [6]:
len(data)

1889

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

data['profit'] = data['revenue'] - data['budget'] #добавляем колонку "прибыль" как разность между сборами и бюджетом

#функция печатающая наиболее часто встречающееся значение в Series
def maxseriesvalue(series):
    
    allvalues = {} #словарь для хранения значений Series и количества их вхождений
    
    #цикл, в котором, мы разбиваем значения Series по разделителю "|" и добавляем в словарь
    for item in series:
        if "|" in item:
            values = item.split("|")
            for value in values:
                if value in allvalues:
                    allvalues[value] = allvalues[value] + 1
                else:
                    allvalues[value] = 1
        else:
            if item in allvalues:
                allvalues[item] = allvalues[item] + 1
            else:
                allvalues[item] = 1  
                
    max_value = max(allvalues.values())  # находим максимальное значение словаря
    max_keys = [k for k, v in allvalues.items() if v == max_value] # находим ключ с максимальным значением словаря
                
    print(max_value, max_keys)

# Ответы:

In [9]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# если ответили верно, можете добавить комментарий со значком "+"

answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
answers['2'] = '2. Gods and Generals (tt0279111)'#+
answers['3'] = '3. Winnie the Pooh (tt1449283)' #+
answers['4'] = '2. 110' #+
answers['5'] = '1. 107' #+
answers['6'] = '5. Avatar (tt0499549)' #+
answers['7'] = '5. The Lone Ranger (tt1210819)' #+
answers['8'] = '1. 1478' #+
answers['9'] = '4. The Dark Knight (tt0468569)' #+
answers['10'] = '5. The Lone Ranger (tt1210819)' #+
answers['11'] = '3. Drama' #+
answers['12'] = '1. Drama' #+
answers['13'] = '5. Peter Jackson' #+
answers['14'] = '3. Robert Rodriguez' #+
answers['15'] = '3. Chris Hemsworth' #+
answers['16'] = '3. Matt Damon' #+
answers['17'] = '2. Action' #+
answers['18'] = '1. K-19: The Widowmaker (tt0267626)' #+
answers['19'] = '5. 2015' #+
answers['20'] = '1. 2014' #+
answers['21'] = '4. Сентябрь' #+
answers['22'] = '2. 450' #+
answers['23'] = '5. Peter Jackson' #+
answers['24'] = '5. Four By Two Productions' #+
answers['25'] = '3. Midnight Picture Show' #+
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave' #+
answers['27'] = '5. Daniel Radcliffe & Rupert Grint' #+

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [17]:
# можно добавлять разные варианты решения
data[['budget', 'original_title']].sort_values(by='budget', ascending = False)

         budget                               original_title
723   380000000  Pirates of the Caribbean: On Stranger Tides
1669  300000000     Pirates of the Caribbean: At World's End
14    280000000                      Avengers: Age of Ultron
1014  260000000                                  John Carter
380   260000000                                      Tangled
...         ...                                          ...
885     5000000              National Lampoonâ€™s Van Wilder
892     5000000                     My Big Fat Greek Wedding
1071    5000000                        Paranormal Activity 4
911     5000000                           Jackass: The Movie
1216    5000000                              Spring Breakers

[1889 rows x 2 columns]

# 2. Какой из фильмов самый длительный (в минутах)?

In [18]:
data[data['runtime'] == data['runtime'].max()]['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [19]:
data[data['runtime'] == data['runtime'].min()]['original_title']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [20]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [21]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [22]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()]['original_title']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [23]:
data[data['profit'] == data['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['revenue'] == data_2008['revenue'].max()]['original_title']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
data_12_14 = data.query('2012 <= release_year <= 2014')
data_12_14[data_12_14['profit'] == data_12_14['profit'].min()]['original_title']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [27]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
maxseriesvalue(data['genres'])

782 ['Drama']

ВАРИАНТ 2

In [28]:
pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [29]:
data_profitable = data[data['profit'] > 0]
maxseriesvalue(data_profitable['genres'])

560 ['Drama']

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [31]:
actiondirectors = data[data['genres'].str.contains("Action", na = False)]['director']
maxseriesvalue(actiondirectors)

9 ['Robert Rodriguez']

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [32]:
#создаем копию Датафрейма для работы с ним
data2012 = data.copy()

#добавляем новую колонку, в которой хранится списки актеров по каждому фильму
data2012['new_cast'] = data[data.release_year == 2012]['cast'].str.split('|')

#расширяем Датафрейм дополнительными строками по каждому актеру
data2012 = data2012.explode('new_cast')

data2012.groupby(by = 'new_cast')['revenue'].agg('sum').sort_values(ascending=False)

new_cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [6]:
#создаем копию Датафрейма для работы с ним
df2 = data.copy()

#добавляем новую колонку, в которой хранятся списки актеров по каждому фильмя
df2['new_cast'] = df2['cast'].str.split('|')

#расширяем Датафрейм дополнительными строками по каждому актеру
df2 = df2.explode('new_cast')

#отфильтровываем высокобюджетные фильмы и считаем количество в разрезе актеров
df2[df2['budget'] > df2['budget'].mean()]['new_cast'].value_counts()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Fred Willard          1
Robert Mammone        1
Stacy Keach           1
Steve Blum            1
Jimmy Bennett         1
Name: new_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [7]:
cagegenres = df2[df2['new_cast'] == 'Nicolas Cage']['genres']
maxseriesvalue(cagegenres)

17 ['Action']

# 18. Самый убыточный фильм от Paramount Pictures

In [8]:
data_pp = data[data['production_companies'].str.contains('Paramount Pictures')]
data_pp[data_pp['profit'] == data_pp['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [9]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [10]:
data_wb = data[data['production_companies'].str.contains('Warner Bros')]
data_wb.groupby('release_year')['profit'].sum().sort_values(ascending = False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [11]:
#создаем копию Датафрейма для работы с ним
data_by_month = data.copy()

#выделяем месяц из даты и добавляем отдельной колонкой к Датафрейму
data_by_month['release_month'] = data['release_date'].str.split('/').apply(lambda x: x[0])

data_by_month['release_month'].value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [12]:
len(data_by_month[data_by_month['release_month'].isin(['6','7','8'])])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [23]:
#отфильтровываем зимние месяцы из Датафрейма созданного на предыдущем шаге и сохраняем в новый ДетаФрейм
data_winter = data_by_month.loc[data_by_month['release_month'].isin(['1','2','12'])].copy()

#добавляем новую колонку, в которой хранятся списки режиссеров по каждому фильму
data_winter['new_director'] = data_winter['director'].str.split('|')

#расширяем Датафрейм дополнительными строками по каждому режиссеру
data_winter = data_winter.explode('new_director')

data_winter['new_director'].value_counts()

Peter Jackson                     7
Steven Soderbergh                 6
Clint Eastwood                    6
Martin Scorsese                   4
Shawn Levy                        4
                                 ..
Xavier Palud                      1
Anthony Hemingway                 1
Angelina Jolie                    1
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    1
Dewey Nicks                       1
Name: new_director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [25]:
data_studio = data.copy()

#добавляем новую колонку, в которой хранятся списки из киностудий по каждому фильму
data_studio['new_production_companies'] = data['production_companies'].str.split('|')

#добавляем новую колонку с длиной названия фильма
data_studio['symblength'] = data['original_title'].map(lambda x: len(x))

#расширяем Датафрейм дополнительными строками по каждой киностудии
new_data_studio = data_studio.explode('new_production_companies')

#Считаем сумму символов в названиях фильмов каждой киностудии
total_len = new_data_studio.groupby('new_production_companies')['symblength'].sum()

#считаем количество фильмов каждой киностудии
film_counts = new_data_studio['new_production_companies'].value_counts()

#создаем новый Датафрейм в котором отображаются колонки с сумой длин названий и количеством фильмов
frame = { 'total_len': total_len, 'film_counts': film_counts }
result = pd.DataFrame(frame)

#добавляем к новосозданному Датафрейму колонку со средней длиной названий и находим максимальное значение
result['average'] = result['total_len']/result['film_counts']
result[result['average'] == result['average'].max()]

                         total_len  film_counts  average
Four By Two Productions         83            1     83.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [112]:
#функция, которая считает колчество слов в строке
def wordcount(str):
    list = str.split()
    return len(list)

data_studio2 = data.copy()

#повторяем все то же, что в предыдущем задании, только вместо подсчета символов, считаем количество слов в названии
data_studio2['new_production_companies'] = data['production_companies'].str.split('|')
data_studio2['wordcount'] = data['overview'].apply(wordcount)
new_data_studio2 = data_studio2.explode('new_production_companies')
total_word_count = new_data_studio2.groupby('new_production_companies')['wordcount'].sum()
film_counts2 = new_data_studio2['new_production_companies'].value_counts()
frame2 = {'total_word_count': total_word_count, 'film_counts': film_counts2 }
result2 = pd.DataFrame(frame2)
result2['average'] = result2['total_word_count']/result2['film_counts']
result2[result2['average'] == result2['average'].max()]

                       total_word_count  film_counts  average
Midnight Picture Show               175            1    175.0

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [155]:
#разбиваем ДатаФрейм на 100 равных частей в процентах
ratings = data['vote_average'].value_counts(bins = 100, normalize = True)*100

#ранжируем по максимальным значениям и выбираем из списка те фильмы, которые попадают в 1% лучших
rangedrate = ratings.sort_index(ascending = False)
data.loc[(data['vote_average'] > rangedrate.index[5].left) & (data['vote_average'] <= rangedrate.index[0].right)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [26]:
data_actors = data.copy()
data_actors['new_cast'] = data['cast'].str.split('|')

paircounts = {}

# функция, которая формирует пары значений из списка, добавляет их в словарь в качестве ключей и 
# подсчитывает количество вхождений каждого из ключей
def addpairs(mylist):
    pairs = [(mylist[i],mylist[j]) for i in range(len(mylist)) for j in range(i+1, len(mylist))]
    for item in pairs:
        sorted(item)
    for pair in pairs:
        if pair in paircounts.keys():
            paircounts[pair] = paircounts[pair] + 1
        else:
            paircounts[pair] = 1

data_actors['new_cast'].apply(addpairs)

#выводим ключ словаря по максимальному значению
print(max(paircounts, key=paircounts.get))

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [42]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [43]:
# и убедиться что ни чего не пропустил)
len(answers)

27